@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    background-color: #0154AA;
    color: white;
}
:root{
    --font-Inter: 'Inter', sans-serif;
    --text-color: #737A91;
    --button-bg: #0154AA;
    --text-color2:#333333;
}

.font-Inter {
  font-family: var(--font-Inter);
}
.text-dark{
    color: var(--text-color);
}
.text-dark2{
    color: var(--text-color2);
}
.bg-blue-button{
    background-color: var(--button-bg);
}

.background-cover-image{
  background-image: url(./assets/cover.png);
  
}

/* font-sizes  */
.font-size-9px {
  font-size: clamp(6px, 0.469vw, 9px);
}

.font-size-10px {
  font-size: clamp(7px, 0.521vw, 10px);
}

.font-size-11px {
  font-size: clamp(7px, 0.573vw, 11px);
}

.font-size-12px {
  font-size: clamp(9px, 0.625vw, 12px);
}

.font-size-13px {
  font-size: clamp(10px, 0.677vw, 13px);
}

.font-size-14px {
  font-size: clamp(11px, 0.729vw, 14px);
}

.font-size-15px {
  font-size: clamp(11px, 0.781vw, 15px);
}

.font-size-16px {
  font-size: clamp(11px, 1.1vw, 16px);
}

.font-size-17px {
  font-size: clamp(12px, 0.885vw, 17px);
}

.font-size-18px {
  font-size: clamp(13px, 0.938vw, 18px);
}

.font-size-19px {
  font-size: clamp(14px, 0.99vw, 19px);
}

.font-size-20px {
  font-size: clamp(14px, 1.042vw, 20px);
}

.font-size-21px {
  font-size: clamp(14px, 1.094vw, 21px);
}

.font-size-22px {
  font-size: clamp(15px, 1.146vw, 22px);
}

.font-size-23px {
  font-size: clamp(20px, 16.8px + 1vw, 23px);
}

.font-size-24px {
  font-size: clamp(17px, 1.25vw, 24px);
}

.font-size-25px {
  font-size: clamp(18px, 1.302vw, 25px);
}

